/* Container for all the characters that make up the title/thing to guess */
#answerDisplay{
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  padding: 2px;
}
/* each character in the title/thing to guess is in a div with this class */
.characterHolder{
  flex: 0 0 20px;
}

.guessed{
  display: none;
}

.knownLetter{
  color: black;
}

.unknownLetter{
  color: white;
  border-bottom: black solid 2px;
}

#startBtn{
  margin: 50px;
}